body {
   background-attachment: fixed;
   background-image: repeating-linear-gradient(to bottom, blue, white);
}
nav {
  position: relative;
  width: 540px;
  left: calc(100vw - 580px);
  top: 20px;
  opacity: 1;
}
.navul {
  list-style-type: none;
}
.navitem {
  white-space: nowrap;
  display: inline-block;
}
.navitem:not(.lastnavitem) {
  margin-right: 10px;
}
.navlink {
  font-size: 10px;
  color: grey;
  text-decoration: none;
}
.navlink:hover {
  color: white;
  text-decoration: none;
}
span {
  font-size: 25px;
}
.content {
  position: relative;
  width: 80%;
  left: 10%;
  top:60px;
}
p {
  font-size: 2em;
  width: 80%;
  margin: .67em;
}
label {
   font-size: 2em;
}