body {
   perspective: 1000px;
}
body div {
   transition: transform 2s;
   transform-origin: top center;
}
.flip-text1 {
   transform: rotateX(90deg);
}
.flip-text2 {
   transform: rotateX(0deg);
}











